numpy==1.24.3
seaborn
tensorflow==2.12.0
matplotlib.pyplot
paddlepaddle-gpu
paddleocr>=2.6.0
opencv-python
calamari-ocr
tensorflow-gpu
scikit-image
flask==2.3.2
pillow==9.5.0
azure-storage-bloib==12.17.0